@charset "UTF-8";

/* Team 5 Project common CSS */
/* 메인, 상세페이지에서 공통으로 사용(헤어, 푸터) */

*{
    margin: 0 auto !important;
    padding: 0 !important;
    list-style: none;
}

html, body {
    min-width: 1200px;
    background-color: #fff;
}

a {
    text-decoration: none !important;
    color: black !important;
}


/* 헤더영역 */


header {
    background-color: #eee;
    border-bottom: 2px solid #919191;
}

header > section {
    min-height: 100px;
    display: flex;
    margin: 0 auto !important;
}

.logo {
    min-height: 100px;
    margin: 0 !important;
    display: flex;
    align-items: center;
    /* background-color: #ccc; */
    /* overflow: hidden; */
}

.logo > a > img {
    width: 200px;
}

.search {    
    min-height: 100px;
    float: left;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: #ddd; */
}

.search > div {
    width: 300px;
    float: right;
    margin: 0 !important;
}

.movie-search > input {
    width: 200px !important;
    border: none;
    background-color: #000;
}

.movie-search > input::placeholder {
    padding-left: 20px !important;
    color: #7e7e7e;
}


/* 푸터영역 */

footer {
    background-color: #eee;
    border-top: 2px solid #919191;
}

footer > section {
    min-height: 100px;
    display: flex;
    text-align: center;
    margin: 0 auto !important;
}

.bt__logo {
    min-height: 100px;
    margin: 0 !important;
    display: flex;
    align-items: center;
    /* background-color: #ccc; */
}

.bt__logo > a > img {
    width: 200px;
}

.copy {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #eee; */
    font-size: 12px;
}

.familysite {
    min-height: 100px;    
    display: flex;
    align-items: center;
    /* background-color: #ddd; */
}

.familysite > select {
    width: 150px !important;
    height: 25px !important;
    line-height: 25px !important;
    font-size: 14px;
    background-color: #000;
    color: #fff;   
    font-weight: bold;
}
