@charset "UTF-8";

/* Team 5 Project index CSS */

/* 메인영역 */

main {
    height: 100% !important;
    font-family:  "맑은 고딕";
    margin: 0 auto !important;
}

main > section {
    padding: 5px 0 !important;
}

.menu {
    background-color: #000;
}

.navi {
    display: flex;
    justify-content: center;
}

.navi > ul {
    padding: 15px !important;
    display: flex;
    justify-content: space-between;
}

.navi > ul > li {
    width: 25%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.menu-list li a {
    color: #fff !important;
}

.navi > ul > li:hover a {
    color: red !important;
    font-weight: bold !important;
    text-decoration: underline !important;
}

.search {
    margin: 0 auto !important;
}

.movie-search{
    width: 55% !important;
    height: 35px;
    display: flex;
    margin: 0 auto !important;
}

.movie-search input::placeholder {
    padding-left: 10px !important;
    color: #bbb;
}

.search > div > button {
    width: 50px;
}

.imgslide {
    width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;
}

.slide_body{
    width: 400% !important;
    height: 600px;
}

.slidelist {
    width: calc(100% / 4);
    display: flex;
    justify-content: start;
    padding: 0 !important;
    position: absolute;
    top: 0px ;
    left: 0;
}

.slidelist li:nth-child(1) img {
    margin-top: -90px !important;
}

.slidelist li:nth-child(2) img {
    margin-top: -65px !important;
}

.slidelist li:nth-child(3) img {
    margin-top: -65px !important;
}

.slidelist li:nth-child(4) img {
    margin-top: -65px !important;
}

.slidelist > li {
    margin: 0 !important;
}

.slidelist_title {
    position: absolute;
    top : 200px;
    margin-left: 150px !important;
}

.slidelist_title  p {
    font-size: 50px !important;
    text-shadow: 3px 3px 3px #a5a5a5;
    padding-bottom: 10px !important;
}

.slidelist_title > button {
    width: 150px !important;
    height: 40px !important;
    line-height: 40px !important;
    border-radius: 10px !important;
    background-color: rgba(255,255,255,0.6) !important;
    color: #333 !important;
    border: none;
    font-size: 19px;
    font-weight: bold;
}

.detail_link {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 450px;
    z-index: 100;
}

.movie {   
    margin: 0 15px  !important;
    overflow: hidden !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    padding: 5px !important;
    position: relative;
}

.movie img {
    width: 75% !important;
    margin: 0 auto !important;
    border-radius: 15px !important;
    border: 1px solid #000;
}

.movie > span {
    width: 72%;
    height: 80px !important;
    
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 200px;
    left: 4px;
    z-index: 120;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: #fff;
}

.contents {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 !important;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.contents .tab {
    text-align: center;
    font-weight: bold;
    padding-top: 30px !important;
    padding-bottom: 20px !important;
    color: #000;
}

.gallery {
    height: 100%;
    margin: 0 !important;
}

.contents_body1 {    
    width: 550px;
    height: 195px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contents_body1 > li {
    width: 120px;
    height: 170px;
    border: 1px solid #eee;
    border: 1px solid #eee;
    margin: 5px !important;
}

.news {
    width: 550px;
    height: 390px;
    margin: 0 !important;
}

.contents_body2 {    
    width: 550px;
    height: 195px;
    background-color: #d9d9d9;
}

/* 현재상영작 시작 */
.now_playing {
    width: 100%;
    height: 300px;
    background-color: #413c77;
    margin-top: 30px !important;
    overflow: hidden;
}

.now_playing .tab {
    text-align: center;
    font-weight: bold;
    padding-top: 30px !important;
    padding-bottom: 20px !important;
    color: #fff;
}

.now_playing > ul {
    width: 3600px;
    display: flex;
    padding: 0 20px 10px 0 !important;
    margin: 0 !important;
}

.now_playing > ul > li {
    width: 140px;
    height: 190px;
    background-color: #a1e9f3;
    border: 1px solid #eee;
    margin: 5px 5px !important;
}

.now-title {
    font-size: 10px;
}

.now_list{
    width: calc(100% / 10);
    margin: 0 5px !important;
}

.now-img{
    height: 25%;
}

.now__body > li > h2 {
    font-size: 10px;
    text-align: center;
}
/* 현재상영작 끝 */


/* 영화순위표 */
.popular {
    width: 1200px;
    height: 600px;
    background-color: #fdfbcb; 
    margin-top: 30px !important;    
}

.popular > .tab {
    text-align: center;
    font-weight: bold;
    padding-top: 30px !important;
    padding-bottom: 20px !important;
    color: #000;
}

.popular__body {
    width: 1100px;
    height: 480px;
    /* border: 1px solid #000; */
}

.popular__con{
    display: flex;
}

.popular__con > li {
    width: 550px;
    height: 480px;
}

.popular__movie {
    width: 100%;
    height: 480px;    
}

.popular__poster {
    width: 330px;
    height: 480px;
    background-color: #ffaf66;
    float: left;
}

.popular__info {
    width: 190px;
    height: 480px;
    float: left;
    margin-right: 10px !important;
}

.popular__table{
    background-color: #fff;
}

/* 영화순위표 시작 */

.detail{
    width: 100%;
    height: 100%;
}