@charset "UTF-8";

/* Team 5 Project index CSS */

/* 메인영역 */

main {
    height: 100% !important;
    font-family:  "맑은 고딕";
    margin: 0 auto !important;
}

main > section {
    padding: 5px 0 !important;
}

.menu {
    background-color: #000;
}

.navi {
    display: flex;
    justify-content: center;
}

.navi > ul {
    width: 50%;
    padding: 15px !important;
    display: flex;
    justify-content: space-between;
}

.navi > ul > li {
    min-width: 33.33%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.menu-list li a {
    color: #fff !important;
}

.navi > ul > li:hover a {
    color: red !important;
    font-weight: bold !important;
    text-decoration: underline !important;
}

.search {
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
}

.movie-search{
    width: 55% !important;
    height: 35px;
    display: flex;
    margin: 0 auto !important;
}

.movie-search input::placeholder {
    padding-left: 10px !important;
    color: #bbb;
}

.search > div > button {
    width: 50px; 
}

/* 이미지슬라이드 */

.imgslide_body {
    width: 100%;
    height: 800px;
    margin: 0 auto !important;
    padding: 0 !important;
    position: relative;
    display: flex;
    justify-content: center;
}

.imgslide{
    width: 100% !important;
    height: 75% !important;
    position: relative;
    overflow: hidden;
}

.imgslide > a {
    display: block !important;
    position: absolute !important;
}

.imgslide > a > img {
    width: 100%;
    margin-top: -150px !important;
}
.imgslide span {
    width: 100% !important;
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 60px !important;
    text-shadow: 3px 3px 3px #a5a5a5;
    color: #fff;
}

.imgslide button {
    width: 15% !important;
    min-width: 150px !important;
    height: 40px;
    line-height: 40px;
    border-radius: 10px !important;
    background-color: rgba(255,255,255,0.7) !important;
    color: #333 !important;
    border: none;
    font-size: 22px;
    font-weight: bold;
}

/* 상세페이지 연결 */

.detail_link {
    width: 90% !important;
    display: flex !important;
    justify-content: center !important;
    position: absolute;
    top: 50%;
    z-index: 100;
    margin: 0 auto !important;
}

.detail_link > a {  
    width: 25% !important; 
    display: flex !important;
    position: relative !important;
    overflow: hidden !important;
    margin: 0 40px !important;   
}

.movie img {
    width: 100% !important;
    margin: 0 auto !important;
    padding: 0 !important;
    border-radius: 15px !important;
    border: 1px solid #000;
}

.movie > span {
    width: 100%;
    height: 80px !important;    
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 120;
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-weight: #fff;
    margin: 0 auto !important;
    padding: 0 !important;
    border-radius: 0 0 15px 15px !important;
}


/* 이미지슬라이드 끝 */



.contents {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 0 30px 0 !important;
    border-top: 1px solid #ddd;
}

.contents .tab {
    text-align: center;
    font-weight: bold;
    padding-top: 30px !important;
    padding-bottom: 20px !important;
    color: #000;
}

.gallery {
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contents_body1 { 
    height: 200px !important;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px !important;
    margin: 0 auto !important;
}

.contents_body1 > li {
    width: 100%;
    height: 100%;
    padding: 20px !important;
    border: 1px solid #eee;
}

.news {
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contents_body2 {  
    height: 200px !important;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 10px 20px !important;
    margin: 0 auto !important;
}

.contents_body2 > li {
    padding: 2px 10px !important;
    border: 1px solid #eee;
    font-size: 20px;
}

/* 현재상영작 시작 */
.now_playing {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px !important;
    background-color: #484747;
}

.now_playing .tab {
    text-align: center;
    font-weight: bold;
    color: #fff;
    margin: 0 auto !important;
    border-bottom: 3px solid #fff;
    padding-bottom: 10px !important;
    padding-top: 20px !important;    
}

.now__bodywrap {
    width: 100%;
    overflow: hidden;
    margin-top: 20px !important;
}

.now__body {
    width: 100%;
    height: 100% !important;
    display: flex;
    padding: 0 !important;
    margin: 0 !important;
}

.now_list {
    width: 12.5% !important;
    height: 80% !important;
    margin: 0 14px 20px !important;
}

.now_list > a {
    width: 100% !important;
    margin: 0 auto!important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    position: relative !important;
    overflow: hidden;
}

.now-title {
    width: 100%;
    /* background-color: rgba(0,0,0,0.5); */
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 5px !important;

}
/* 현재상영작 끝 */


/* 영화순위표 */
.popular {
    width: 100%;
    height: 100%;
    background-image: url(../images/bg_img.png);  
    background-position: top;
    background-repeat: no-repeat;
    margin: 0 auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popular > .tab {
    text-align: center;
    font-weight: bold;
    padding-top: 30px !important;
    padding-bottom: 20px !important;
    color: #000;
}

.popular__contents{
    display: flex;
}

.popular__contents > li {
    height: 100%;
}

.popular__movie {
    width: 100%; 
    display: flex;  
}

.popular__poster {
    width: 100%;
    height: 100%;
    background-color: #ffaf66;
    float: left;
}

.popular__info {
    width: 100%;
    height: 100%;
    float: left;
    margin-right: 10px !important;
}

.popular__table{
    background-color: #fff;
    padding: 10px !important;
}

.table_title {
    display: flex;
    text-align: center;
    padding-bottom: 5px !important;
    border-bottom: 3px solid #1d1d1d;
    margin-bottom: 5px !important;
    font-size: 18px;
    font-weight: bold;
}

.table_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
}

.table_content_list{
    display: flex;
}

.table_content_list > li {
    padding: 10px 0 !important;
    border-bottom: 1px solid #eee;
}

.table_content_list:hover {
    background-color: #eee !important;
    font-weight: bold !important;
}